<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css"href="/style.css">
  
</head>
<body>
  <nav1>
  <a href= "/pizzas">ALL ORDERS</a>
  </nav1>
  <nav2>
  <a href= "/pizzas/new">ORDER PIZZA</a>
  </nav2>
  <%= yield %>
</body>
</html>