body {
  background-color: tomato;
  padding: 2em;
  line-height: 1em;
}
nav1 {
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.5em;
  padding: 10em;



}
nav2 {
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.5em;
  padding: 6em;
  
}

